
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: "Minecraft";
    src: url('../../fonts/Minecraft.ttf');
}
.NavBar{
    width: 97.5vw;
    height: 70px;
    background-color: black;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile img{
    width: 35px;
    height: 35px;
    border-radius: 7px;
}
.profile p{
    font-size: 16px;
    font-family: 'Righteous', sans-serif;
    color: #E473FF;
}
.xplay{
    display: flex;
    align-items: center;
    gap: 100px;
}
.xplay h1{
    font-family: 'Righteous', sans-serif;
    color: #E473FF;
}
.xplay p{
    font-family: 'Righteous', sans-serif;
}